<h1>Main page</h1>
<p>This app is designed to help people understand the data at various levels of their collection, based on a hierarchy of:
<ul>
	<li>Company</li>
	<li>Facility</li>
	<li>Building</li>
	<li>System</li>
	<li>Sensor</li>
</ul>