<div id="chart-title">
	<h2>Analyze water usage</h2>
</div>
	<div id="categories">
		<div class="select_box" id="select_companies">
			<select size="4">
			<option>All Companies</option>
			</select>
		</div>
		<div class="select_box"  id="select_facilities">
			<select size="4">
			<option>All Facilities</option>
			</select>
		</div>
		<div class="select_box"  id="select_buildings">
			<select size="4">
			<option>All Buildings</option>
			</select>
		</div>
		<div class="select_box"  id="select_systems">
			<select size="4">
			<option>All Systems</option>
			</select>
		</div>
		<div class="select_box"  id="select_sensors">
			<select size="4">
			<option>All Sensors</option>
			</select>
		</div>
	</div>
	<div id="chart"></div>
	<div style="clear:both"></div>