<div id="chart-title">
	<h2>Analyze water usage</h2>
</div>
	<div id="categories">
		<table>
			<thead>
			<tr>
				<th>Companies</th>
				<th>Facilities</th>
				<th>Buildings</th>
				<th>Systems</th>
				<th>Sensors</th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td>
			<select class="multiselect" size="4" id="select_companies" multiple="multiple">
			</select>
			</td><td>
			<select class="multiselect" size="4" id="select_facilities">
			</select>
			</td><td>
			<select class="multiselect" size="4" id="select_buildings">
			</select>
			</td><td>
			<select class="multiselect" size="4" id="select_systems">
			</select>
			</td><td>
			<select class="multiselect" size="4" id="select_sensors">
			</select>
			</td>
			</tr>
			</table>
	</div>
	<div id="chart"></div>
	<div style="clear:both"></div>