<h1>Manage the system</h1>
<ul>
<li><a href="companies">Companies</a></li>
<li><a href="facilities">Facilities</a></li>
<li><a href="buildings">Buildings</a></li>
<li><a href="systems">Systems</a></li>
<li><a href="sensor_boxes">Sensor Boxes</a></li>
<li><a href="sensors">Sensors</a></li>
<li><a href="system_types">System Types</a></li>
<li><a href="hardware_types">Hardware Types (thermometer, flowmeter, etc.)</a></li>
<li><a href="inputs">Inputs</a></li>
<li><a href="unit_types">Unit Types (gallons, mg, pH, gpm, etc.)</a></li>
</ul>