html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:1em;
  vertical-align:baseline;
  background:transparent;
}  

header, nav, article, footer, address, section {  
    display: block;  
}   

html {
	height: 100%;
}

body {
	font-size: 16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	height: 100%;
}

a {
	color: #5194b9;
	text-decoration: none;
}

a:hover {
	color: #0361a4;
}

p {
	line-height: 1.35em;
	margin-bottom: 1em;
	font-size: 1.2em;
	color: #666;
}

h1, h2 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: .25em;
	color: #000;
}

a img {
	border: 0;
}

/*------------ header ------------*/
.wrapper {
	margin: auto;
	width: 970px;
}

header {
	background-color: #fff;
	width: 950px;
	height: 75px;
	margin: 30px auto 0;
}

header h1, header h2 {
	color: #fff;
	font-size: 0px;
}

header #logo {
	position: relative;
	float: left;
	margin: 15px 0 0 40px;
	width: 224px;
	height: 49px;
	background: url('images/logo.png');
}

header #tagline {
	float: right;
	margin: 33px 50px 0 0;
	width: 420px;
	height: 34px;
	background: url('images/tagline.png');
}

/* ----------------- main --------------*/

#main-content {
	width: 880px;
	margin: 0 0 0 10px;
	padding: 20px 35px;
	position: relative;
	background-color: #fff;	
	min-height: 800px;

}

.category {
	display: block;
	float: left;
	margin-right: 20px;
	border-right: 1px dotted black;
	width: 150px;
}

.category input {
	background-color: red;
}

#categories {
	height: 60px;
	margin-bottom: 45px;
}

#timeline {
	float: left;
	margin-right: 15px;
}

#select-dates p {
	float: left;
	font-size: 1em;
}

#chart {
	display: block;
	clear: both;
	height: 300px;
	width: 850px;
}

/* ----------------- jquery ui --------------*/

.ui-slider .ui-slider-range {
	background-image: none;
}

.ui-slider {
	width: 500px;
	height: 20px;
}

.ui-slider a.ui-slider-handle {
	height: 25px;
}

.ui-datepicker {
    padding: 0.1em 0.1em 0;
    width: 11em;
}

.ui-widget {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.ui-datepicker th {
    border: 0 none;
    font-weight: normal;
    padding: 0.2em 0.1em;
    text-align: center;
}

.ui-datepicker th span {
    font-size: 11px;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0.1em;
}

.ui-datepicker td {
    padding: 0.9px;
}

.ui-datepicker .ui-state-highlight {
    height: 12px;
    margin-bottom: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 13px;
}

.ui-datepicker .ui-datepicker-title span {
    font-size: 11px;
}

.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span {
    margin-left: -8px;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
    height: 15px;
    top: 1px;
    width: 15px;
}

.ui-datepicker-next-hover .ui-icon {
    height: 16px;
    width: 16px;
}

/* ----------------- footer --------------*/
footer {
}


footer p {
}

footer a {
}

footer a:hover {
}

.select_box{
	display:inline;
}

#chart {
	width:100%;
}