<h1>About this app</h1>
<p>This app was developed during Random Hacks of Kindness 2011 in Milwaukee. The developers were primarily three guys from the Madison hackerspace Sector67; Issac Gerges, Brendan O'Connor, and Bob Baddeley.</p>